<div class="header-div">
    <img class="header-logo" src="../assets/img/slack logo-header.png">

    <div class="search-div">
        <input>
        <img src="../assets/img/search-13-32.png">

    </div>

    <div class="header-info-div" (mouseover)="showUserName = true" (mouseout)="showUserName = false">

        <img [matMenuTriggerFor]="menu" class="header-profile" [src]="this.user?.profileImageUrl || '../assets/img/avatar.png'">
        <span *ngIf="showUserName" class="header-username">{{ user?.name }}</span>

    </div>

    <mat-menu #menu="matMenu" class="mat-menu">
        <button class="button-header-profile" (click)="logOut()" mat-menu-item>Log out</button>
        <button routerLink="/legals" mat-menu-item>Legals</button>
        <button *ngIf="auth.user$ | async" mat-menu-item (click)="openDialog()">Profile</button>
    </mat-menu>



</div>