.header-div {
    height: 48px;
    display: flex;
    align-items: center;
    background-color: #121016;
    border-bottom: 1px solid #2B2A2F;
    justify-content: space-between;
    img {
        width: 15px;
        height: 15px;
        margin-left: 20px;
        cursor: pointer;
    }
}

.arrow-div {
    display: flex;
    align-items: center;
    margin-left: 20%;
}

.search-div {
    display: flex;
    align-items: center;
    position: relative;
    input {
        border-radius: 5px;
        width: 30vw;
        background-color: #72727239;
        writing-mode: horizontal-tb !important;
        text-rendering: auto;
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        appearance: auto;
        cursor: text;
        margin: 0em;
        padding: 1px 2px;
        border-width: 2px;
        border-style: inset;
        border-color: rgba(0, 0, 0, 0);
        border-image: initial;
    }
    img {
        position: absolute;
        right: 5px;
    }
    .search {
        position: absolute;
        right: 30px;
    }
}

.header-info-div {
    display: flex;
    align-items: center;
    margin-right: 20px;
    img {
        width: 15px;
        height: 15px;
        border-color: white;
    }
    .header-profile {
        width: 25px;
        height: 25px;
    }
    p {
        color: white;
    }
}