<div class="header-div">

    <div class="logo-icon-div">
        <img class="header-logo" src="../assets/img/slack logo-header.png">
        <mat-icon class="menuIcon" (click)="toggle()">menu</mat-icon>

        <!-- <div id="menuBtn" class="plate plate1" [ngClass]="menuCollapsed ? '' : 'active'" (click)="toggle()">
            <svg class="burger" version="1.1" height="100" width="100" viewBox="0 0 100 100">
                <path class="line line1" d="M 30,65 H 70" />
                <path
                    class="line line2"
                    d="M 70,50 H 30 C 30,50 18.644068,50.320751 18.644068,36.016949 C 18.644068,21.712696 24.988973,6.5812347 38.79661,11.016949 C 52.604247,15.452663 46.423729,62.711864 46.423729,62.711864 L 50.423729,49.152542 L 50.423729,16.101695"/>
                <path
                    class="line line3"
                    d="M 30,35 H 70 C 70,35 80.084746,36.737688 80.084746,25.423729 C 80.084746,19.599612 75.882239,9.3123528 64.711864,13.559322 C 53.541489,17.806291 54.423729,62.711864 54.423729,62.711864 L 50.423729,49.152542 V 16.101695"/>
            </svg>
            <svg class="x" version="1.1" height="100" width="100" viewBox="0 0 100 100">
                <path class="line" d="M 34,32 L 66,68" />
                <path class="line" d="M 66,32 L 34,68" />
            </svg>
        </div> -->

    </div>


    <div class="search-div">
        <input class="input-field" type="text" id="search" (keyup)="searchToComment($event)" placeholder="Search...">
        <img src="../assets/img/search-13-32.png">
    </div>

    <div class="header-info-div" (mouseover)="showUserName = true" (mouseout)="showUserName =true">
        <img [matMenuTriggerFor]="menu" class="header-profile" [src]="this.user?.profileImageUrl || '../assets/img/avatar.png'">
        <span *ngIf="showUserName" class="header-username">{{ user?.name }}</span>
    </div>

    <mat-menu #menu="matMenu" class="mat-menu">
        <button class="button-header-profile" (click)="logOut()" mat-menu-item>Log out</button>
        <button routerLink="/legals" mat-menu-item>Legals</button>
        <button *ngIf="auth.user$ | async" mat-menu-item (click)="openDialog()">Profile</button>
    </mat-menu>

</div>