<div class="header-div">
    <img class="header-logo" src="../assets/img/slack logo-header.png">

    <div class="search-div">
        <input>
        <img src="../assets/img/search-13-32.png">

    </div>

    <div class="header-info-div">
        <img [matMenuTriggerFor]="menu" class="header-profile" src="../assets/img/profile.webp">

    </div>

    <mat-menu #menu="matMenu">
        <button class="button-header-profile" (click)="logOut()" mat-menu-item>Log out</button>
        <button mat-menu-item (click)="openDialog()">Profile</button>
    </mat-menu>



</div>