mat-drawer-container {
  height: calc(100vh - 49px);
  overflow-y: hidden;

  .sidenav {
    background-color: #19171D;
    border-right: 1px solid #2B2A2F;
    padding-left: 8px;
    width: 250px;
  }
}

.router-ctn {
  background-color: #1A1D21;
  height: calc(100vh - 49px);
  width: 100%;
  color: white;
  overflow-y: none !important;
  display: flex;
}

app-thread {
  width: 630px;
  border-left: 1px solid #2B2A2F;
}

