<div>
    <div class="headline-ctn">
        <mat-icon>tag</mat-icon>
        {{ channel.channelName }}
    </div>

    <div class="channel-content">
        <div class="channel-content-messages relative">
            <div class="channel-content-messages-child">
                <div class="mat-card-ctn" *ngFor="let message of filteredMessages; index as i">
                    <mat-card *ngIf="message.message.length > 0">
                        <img mat-card-avatar class="avatar" src="{{ message?.imagePath || '../assets/img/avatar.png'}}">
                        <div class="mat-card-right">
                            <mat-card-header>
                                <h3>{{ message.user }}</h3>
                                <div>
                                    <span>{{ message.timestamp | date : "EEE, dd. MMMM yy" }}</span>
                                    <span class="time">{{ message.timestamp | date : "HH:mm" }}</span>
                                </div>
                            </mat-card-header>
                            <mat-card-content [innerHTML]="message.message"></mat-card-content>
                            <mat-card-actions>
                                <button (click)="openThread(channelId, message.id)">{{ message.answersCount - 1 }} Answers</button>
                            </mat-card-actions>
                        </div>
                    </mat-card>
                </div>

                <div *ngIf="filteredMessages.length === 0">
                    Nothing here!
                </div>
            </div>

            <div class="editor-form-ctn">
                <form class="editor-form" (ngSubmit)="onSubmit()">
                    <div class="relative">
                        <app-editor #editor></app-editor>
                        <div class="bottom-section">
                            <button [disabled]="editor.isEditorEmpty" [ngClass]="{ 'green-bg': !editor.isEditorEmpty }"><mat-icon>send</mat-icon></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>