<div class="headline-ctn">
    <mat-icon>tag</mat-icon>
    {{ channel.channelName }}
</div>

<div class="mat-card-ctn" *ngFor="let message of messages; index as i">
    <mat-card *ngIf="message['message']">
        <div mat-card-avatar class="example-avatar"></div>
        <div class="mat-card-right">
            <mat-card-header>
                <h3>{{ message['user'] }}</h3>
                <span>{{ message['timestamp'] }}</span>
            </mat-card-header>
            <mat-card-content>
                {{ message['message'] }}
            </mat-card-content>
        </div>
    </mat-card>
    
</div>

<div *ngIf="messages.length == 1">
    Nothing here!
</div>

<form class="editor-form">
    <app-editor></app-editor>
</form>