.profile-container {
    display: flex;
    p {
        margin-bottom: 0px;
    }
}

.frofile-image-div {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.profile-image {
    width: 150px;
    height: 140px;
    border-radius: 3px;
    object-fit: cover;
    margin-right: 40px;
    margin-left: 20px;
    margin-top: 0px;
}

.download-profile {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.download-div {
    margin-top: 20px;
    display: flex;
    align-items: center;
    p {
        color: white;
        margin-left: 10px;
        margin-bottom: 0px;
    }
}