<div>
    <h1 mat-dialog-title>Profile</h1>
    <div class="profile-container">
        <div>
            <div mat-dialog-content>

                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput [(ngModel)]="name" name="name">
                </mat-form-field>
            </div>

            <div mat-dialog-content>

                <mat-form-field>
                    <mat-label>Mail</mat-label>
                    <input matInput [(ngModel)]="mail" name="mail">
                </mat-form-field>

            </div>
        </div>
        <div class="frofile-image-div">
            <img alt="picture" class="profile-image" [src]="this.user?.profileImageUrl || '../assets/img/avatar.png'">
            <div class="download-div">
                <img class="download-profile" (click)="uploadImage()" src="../assets/img/download-32.png">
                <p>Upload image</p>
            </div>

        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button cdkFocusInitial (click)="saveData()">Save</button>
    </div>
</div>