<div class="log-in-div">
    <div class="logo-div">
        <img src="../assets/img/logIn-logo.png">
        <h1>Slack-Clone</h1>
    </div>



    <div class="input-div">
        <h2>Sign Up - Enter your E-Mail & Password</h2>

        <form class="example-form form">
            <mat-form-field class="example-full-width input-email">
                <mat-label>Name</mat-label>
                <input type="email" matInput [formControl]="nameFormControl" [(ngModel)]="user.name" placeholder="Max Musstermann" required>

                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width input-email">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" [(ngModel)]="user.mail" placeholder="Ex. pat@example.com" required>

                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>


            <mat-form-field class="example-full-width input-email">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password" placeholder="Enter your password" [formControl]="passwordFormControl" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="hide ? 'Hide password' : 'Show password'">
                    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="passwordFormControl.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <div class="button-log-in-div">

                <button (click)="register()" routerLinkActive="router-link-active" class="log-in-button" mat-flat-button color="primary">Sign Up</button>

                <button type="button" routerLink="/login" routerLinkActive="router-link-active" class="log-in-button" mat-flat-button color="primary">Log In</button>
            </div>

        </form>
    </div>

</div>