.menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
    color: white;
    li {
        padding-left: 16px;
        padding-right: 16px;
        height: 32px;
        display: flex;
        align-items: center;
        cursor: pointer;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
        margin-right: 11px;
        &:focus {
            outline: none;
        }
        mat-icon {
            height: 32px;
            width: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 6px;
            font-size: 18px;
        }
        &:hover {
            background-color: #27242C;
        }
    }
}

.menu-items li.active {
    background-color: #12578C;
    font-weight: bold;
}

.small-headline {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 8px;
    padding: 12px 5px 5px 17px;
    font-size: 16px;
    mat-icon {
        height: 28px;
        width: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 6px;
        font-size: 22px;
        border-radius: 8px;
        &:hover {
            background-color: #27242C;
            cursor: pointer;
        }
    }
}

.upper-sidenav {
    padding-top: 8px;
    padding-bottom: 8px;
}

.add-channel {
    color: white;
    display: flex;
    align-items: center;
    padding-left: 18px;
    padding-right: 16px;
    height: 32px;
    cursor: pointer;
    mat-icon {
        height: 28px;
        width: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 8px;
        font-size: 18px;
        border-radius: 8px;
        background-color: #27242C;
    }
}

.turnArrow {
    mat-icon {
        height: 28px;
        width: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 6px;
        font-size: 18px;
        border-radius: 8px;
        background-color: #27242C;
    }
}

.rotate90 {
    transform: rotate(-90deg);
}

.sidenav-profile-img {
    border-radius: 8px;
    height: 24px;
    width: 24px;
    object-fit: cover;
    margin-right: 8px;
    margin-left: 2px
}