<div class="headline-ctn">
    Slack Clone
</div>

<!-- <div class="upper-sidenav">
    <ul class="menu-items">
        <li routerLink="/app" routerLinkActive="active"><mat-icon>send</mat-icon>Threads</li>
    </ul>
</div> -->

<div class="lower-sidenav">

    <div class="small-headline">
        <mat-icon class="first-icon">arrow_drop_down</mat-icon>
        <div class="small-headline-right-ctn">
            <span>Channels</span>
            <mat-icon>expand_more</mat-icon>
        </div>
    </div>

    <ul class="menu-items">
        <li *ngFor="let channel of allChannels" [routerLink]="['/app', { outlets: { chats: ['channel', channel.id]} }]" routerLinkActive="active">
            <div class="menu-items-icon-ctn">
                <mat-icon>tag</mat-icon>
            </div>
            <span>{{ channel.channelName }}</span>
        </li>
    </ul>

    <div (click)="openDialog()" class="add-channel">
        <mat-icon>add</mat-icon>
        <span>Create new channel</span>
    </div>

</div>