/* You can add global styles to this file, and also import other style files */

@import '~quill/dist/quill.snow.css';
@import 'material-icons/iconfont/material-icons.css';
@import "~quill-emoji/dist/quill-emoji.css";
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 24px !important;
}

.headline-ctn {
    border-bottom: 1px solid #2B2A2F;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 56px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    position: relative;

    .thread-icon {
        font-size: 16px;
        margin-left: 8px;
        height: 16px;
        width: 16px;
        color: #B9BABB;
        margin-top: 10px;
    }

    .close-thread-icon {
        position: absolute;
        right: 16px;
        margin-top: auto;
        margin-bottom: auto;
        top: 0;
        bottom: 0;
        cursor: pointer;
        font-size: 24px;
        height: 32px;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;

        &:hover {
            background-color: #b9babb10;
        }
    }

    span {
        font-size: 16px;
        font-weight: normal;
        color: #B9BABB;
        margin-top: 10px;
    }
}

.overflow-y {
    overflow-y: auto;
}

.mat-mdc-menu-content {
    margin: 0;
    padding: 0px 0 !important;
    list-style-type: none;
}

.mat-mdc-menu-item.mdc-list-item {
    align-items: center;
    justify-content: center;
}

.mat-mdc-menu-content,
.mat-mdc-menu-content .mat-mdc-menu-item .mdc-list-item__primary-text {
    font-size: var(--mdc-typography-body1-font-size, 13px) !important;
}

.mat-mdc-form-field-infix {
    min-width: 0;
    width: 130px !important;
}

.mat-mdc-text-field-wrapper {
    /* height: auto; */
    flex: auto;
}

.mdc-text-field--filled {
    height: 50px !important;
}

.mdc-dialog .mdc-dialog__content {
    padding: 0px 24px 0px 24px !important;
}

.relative {
    position: relative;
}


/* Style of Editor */

#emoji-palette {
    top: -253px !important;
    left: -7px !important;
    border: 1px solid #2B2A2F !important;
    border-radius: 8px !important;
}

#tab-panel {
    background-color: #1A1D21 !important;
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
}

#tab-toolbar {
    background-color: #1A1D21 !important;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}

.editor-form-ctn {
    position: unset;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1A1D21;
}

.editor-form {
    margin-bottom: 24px;
    margin-left: 24px;
    margin-right: 24px;
    background-color: #222529;
    border: 1px solid #5A5C5E;
    border-radius: 8px;
}

.ql-toolbar {
    border: none !important;
    box-sizing: border-box;
    font-family: Roboto, sans-serif !important;
    padding: 8px 8px 0 8px !important;
    button {
        border-radius: 8px;
        &:hover {
            background-color: #b9babb10;
        }
    }
}

.ql-toolbar .ql-active {
    background-color: #b9babb48 !important;
}

.ql-container {
    border: none !important;
}

.ql-editor {
    color: #B9BABB !important;
    font-size: 18px;
}

.ql-editor.ql-blank::before {
    color: #b9babb36 !important;
}

.ql-toolbar .ql-stroke {
    fill: none !important;
    stroke: #B9BABB !important;
}

.ql-toolbar .ql-fill {
    fill: #B9BABB !important;
    stroke: none !important;
}

.ql-toolbar .ql-picker {
    color: #B9BABB !important;
}

.ql-snow.ql-toolbar button svg {
    float: none;
}

.ql-formats {
    &:last-child {
        position: absolute;
        bottom: 8px;
        left: 8px;
    }
}

.bottom-section {
    height: 24px;
    width: calc(100% - 16px);
    padding: 0 8px 8px 8px;
    display: flex;
    justify-content: flex-end;

    button {
        padding: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
        border-radius: 4px;

        mat-icon {
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #B9BABB;
            border-radius: 8px;
            padding: 2px;
            height: 20px;
            width: 20px;
            background-color: transparent;
        }
    }
}

.green-bg {
    background-color: #007A5A !important;
}

.transparent-bg {
    background-color: transparent;
}



app-channel {
    width: 100% !important;
  }