<div class="headline-ctn">
    Thread
    <mat-icon class="thread-icon">tag</mat-icon>
    <span>{{ channel.channelName }}</span>
    <mat-icon (click)="closeThread(channelId, messageId)" class="close-thread-icon">close</mat-icon>
</div>
<div class="thread-ctn">
    <!-- <mat-card>
        <img mat-card-avatar class="avatar" src="{{ message?.imagePath || '../assets/img/avatar.png'}}">
        <div class="mat-card-right">
            <mat-card-header>
                <h3>{{ message.user }}</h3>
                <span>{{ message.timestamp| date : "EEE, dd. MMMM yy" }}</span>
                <span>{{ message.timestamp| date : "HH:mm" }}</span>
            </mat-card-header>
            <mat-card-content [innerHTML]="message.message"></mat-card-content>
        </div>
    </mat-card> -->

    <div class="answer-ctn">
        <!-- <div>  {{ allAnswers.lenght }} </div>  -->
        <div class="mat-card-ctn" *ngFor="let answer of filterallAnswers; index as i">
            <mat-card *ngIf="answer.message.length > 0">
                <img mat-card-avatar class="avatar" src="{{ answer?.imagePath || '../assets/img/avatar.png' }}">
                <div class="mat-card-right">
                    <mat-card-header>
                        <h3>{{ answer.user }}</h3>
                        <div>
                            <span>{{ answer.timestamp| date : "EEE, dd. MMMM yy" }}</span>
                            <span class="time">{{ answer.timestamp| date : "HH:mm" }}</span>
                        </div>
                    </mat-card-header>
                    <mat-card-content [innerHTML]="answer.message"></mat-card-content>
                </div>
            </mat-card>
        </div>
    </div>

    <div class="editor-form-ctn">
        <form class="editor-form" (ngSubmit)="onSubmit()">
            <div class="relative">
                <app-editor #editorThread></app-editor>
                <div class="bottom-section">
                    <button [disabled]="editorThread.isEditorEmpty" [ngClass]="{ 'green-bg': !editorThread.isEditorEmpty }"><mat-icon>send</mat-icon></button>
                </div>
            </div>
        </form>
    </div>
</div>