<div>

    <div class="headline-ctn">
        <img class="profile-img" src="{{ participantsImage || './assets/img/avatar.png'}}"> {{ participantsName }}
    </div>

    <div class="dms">
        <div class="dms-content relative">
            <div class="dms-content-messages">
                <div class="mat-card-ctn" *ngFor="let message of filterAllMessages; index as i">
                    <mat-card *ngIf="message.message.length > 0">
                        <img mat-card-avatar class="avatar" [src]="message.imagePath ? message.imagePath : './assets/img/avatar.png'">
                        <div class="mat-card-right">
                            <mat-card-header>
                                <h3>{{ message.user }}</h3>
                                <span>{{ message.timestamp | date : "EEE, dd. MMMM yy" }}</span>
                                <span class="time">{{ message.timestamp | date : "HH:mm" }}</span>
                            </mat-card-header>
                            <mat-card-content [innerHTML]="message.message"></mat-card-content>
                        </div>
                    </mat-card>
                </div>
                <div *ngIf="allMessages.length === 0">
                    Nothing here!
                </div>
            </div>

            <div class="editor-form-ctn">
                <form class="editor-form" (ngSubmit)="onSubmit()">
                    <div class="relative">
                        <app-editor #editor></app-editor>
                        <div class="bottom-section">
                            <button [disabled]="editor.isEditorEmpty" [ngClass]="{ 'green-bg': !editor.isEditorEmpty }"><mat-icon>send</mat-icon></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>